src/*.exe
src/azercoin
src/azercoind
src/test_azercoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.azercoin

# Compilation and Qt preprocessor part
*.qm
Makefile
azercoin-qt
Azercoin-Qt.app

# Unit-tests
Makefile.test
azercoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb*/Makefile
